body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
.isotipo{
    height: 2rem;
}

.hero{
    height: 50rem;
    overflow: hidden;
}
.tamano{
    height: 50rem;
}
button{
width: 100%;
}
hr{
    background-color: #fff;
}

.margensuperior{
    margin-top: 6rem;
}